.team-details {
  margin-top: 60px;
}

.team-details .banner2 {
  margin-top: 50px;
}

@media (max-width: 900px) {
  .team-details .banner2 img {
    height: 180px !important;
  }
}
@media (max-width: 700px) {
  .team-details .banner2 img {
    height: 140px !important;
  }
}
@media (max-width: 500px) {
  .team-details .banner2 img {
    height: 120px !important;
  }
}
