.team-details {
  margin-top: 60px;
}

.banner {
  position: relative;
  margin-top: 50px;
}
.banner::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #f0f8ff57;
  width: 100%;
  height: 100%;
}
.banner h3 {
  font-size: 40px;
  color: #3d195b !important;
}
